#calc{
    background-color: black;
    width: 100%;
    height: 100%;
}

#log{
    font-size: 90px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    width: 100%;
    position: absolute;
    
}

table, td, tr{
    color:#FFFFFF;
    border-color: white;
    border: 1px solid;
}

table{
    width: 100%;
    height: 100%;
}